* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ccc;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  font-size: 16px;
}

button {
  background-color: black;
  color: white;
  padding: 15px 15px;
  margin-top: 10px;
  border-radius: 10px;
  border : none;
  cursor: pointer;
}

.App {
  max-width: 860px;
  margin: 0 auto;
  padding: 0px 30px;
  text-align: center;
}

.TituloApp {
  padding: 20px 0px;
}



.boxCadastrar {
  border: 1px solid #eee;
  padding: 40px;
  margin: 20px 0px;
  text-align: left;
}

.boxBtnCadastrar {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-evenly;
  margin: 0 auto;
}

.boxBuscar {
  width: 100%;
  display: flex;
}

.btnBuscar {
  margin-left: 10px;
}

.boxResultadoBusca {
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  padding: 20px;
  border: 1px solid #eee;
  margin: 10px 0px;
}


.ItemAluno {
  background-color: #f6f6f6;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  margin: 10px 0px;
  text-align: left;
  /* box-shadow: 10px 10px 5px #e2e2e2; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.boxListas {
  min-height: 800px;
}

.footer {
  color: #ccc;
  width: 100%;
  height: auto;
  background-color: #282c34;
  bottom: 0;
}

.dadosFooter {
  text-align: center;
  padding: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


